/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}



/* imgBx */
.imgBx {
    position: relative;
    width: 50%;
    height: 100%;
}

.imgBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #0e2510, rgb(6, 27, 6) );
    z-index: 1;
    mix-blend-mode: screen;
}

.imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/* contentBx */
.contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.formBx {
    width: 60%;
}



/* Texts */
h2 {
    color: #607d8b;
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #22972b;
    display: inline-block;
    letter-spacing: 1px;
}

span {
    font-size: 1em;
    color: #607d8b;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    display: inline-block;
}

p {
    text-align: center;
    font-size: 1em;
    color: #607d8b;
    font-weight: 400;
}



/* Inputs */
.inputBx {
    margin-bottom: 20px;
}

input {
    font-size: 0.7em;
    font-family: inherit;
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 20px;
    border: 1px solid #607d8b;
}

input [type="email"] {
    font-size: 0.5em;
}
.inputBx [type="submit"] {
    margin-top: 20px;
    background: #22972b;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
}

.inputBx [type="submit"]:hover {
    background:#16681d;
}



/* Links */
a {
    color: #22972b;
    text-decoration: none;
}

a:hover {
    color: #16681d;
}

.input:placeholder-shown {
    font-size: 0.8em;
    padding-left: 15px;
}



/* Medias Queries (Descending Order)
*/
@media (max-width: 855px) {
    a {
        display: block;
    }
}

@media (max-width: 768px) {

    .imgBx {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    
    .contentBx {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    
    .formBx {
        border-radius: 10px;
        width: 100%;
        padding: 40px;
        background: rgb(255 255 255 / 0.9);
        margin: 50px;
    }

    .input:placeholder-shown {
        font-size: 0.7em;
        padding-left: 15px;
    }

    a {
        display: inline-block;
    }
}

@media (max-width: 437px) {
    a {
        display: block;
    }
}









